@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Jacquard 24", system-ui;
    background-color: black;
}

h1{
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 0 25px;
    color: white;
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    border: 1px solid white;
    width: fit-content;
}

h1:hover{
    transition: .8s;
    background-color: white;
    color: black;
    cursor: default;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin: auto auto;
}

#inputTarefa{
    font-family: 'Jacquard 24';
    font-size: large;
    height: 60px;
    font-size: 1.2rem;
    padding-left: 2%;
    width: 70vw;
    background-color: black;
    color: white;
    border: 1px solid grey;
    box-shadow: 0 0 20px #484848;
    
}

#inputTarefa:focus{
    border-color: white;
    outline: none;
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    cursor: cell;
    background-color: white;
    color: white;
    font-weight: bold;
    border: none;
    height: 60px;
}

.add > p{
    color: black;
    font-family: 'Jacquard 24';
    font-size: 2rem;
}
main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /*border: 1px solid blue;*/
    padding-top: 40px;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 3px 0px white;
    margin-bottom: 2%;

}

.item:hover{
    background-color: white;
    color: black;
    transition:.8s;
}

.item.clicado{
    background-color: rgb(29, 28, 28);
    font-style: italic;
    
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: darkgray;
}

.item.clicado .item-icone{
    color: grey;

    
}

.item-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5%;
    color: grey;
    /*border: 1px solid orangered;*/
    text-align: center;
    cursor: pointer;
}

.item-nome{
    flex:75%;
    /*border: 1px solid blue;*/
    font-size: 1.8rem;
    cursor: pointer;
}

.item-botao{
    flex: 3%;
    cursor: pointer;
    
}

.delete{
    width: 100%;
    height: 60px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

 
