*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    font-size: 3rem;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin: auto auto;
}

#inputTarefa{
    height: 80px;
    font-size: 1.2rem;
    padding-left: 10%;
    width: 70vw;
    
}

.add{
    width: 15%;
    cursor: pointer;
    background-color: olivedrab;
    color: white;
    font-weight: bold;
    border: none;
    height: 80px;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /*border: 1px solid blue;*/
    padding-top: 40px;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;

}

.item.clicado{
    background-color: #ccc;
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: gray;
}

.item.clicado .item-icone{
    color: grey;

    
}

.item-icone{
    flex: 10%;
    /*border: 1px solid orangered;*/
    text-align: center;
    cursor: pointer;
}

.item-nome{
    flex:75%;
    /*border: 1px solid blue;*/
    font-size: 1.2rem;
}

.item-botao{
    flex: 15%;
    cursor: pointer;
    
}

.delete{
    width: 100%;
    height: 80px;
    border: none;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}



